.centralGde {
	width: 200%;
	height: 100%;
}

.centralMd{
	width: 100%;
	height: 100%;


}
.colores{
	color: #FFFFFF !important; 
	font-weight: bold !important;

}
.coloresf{
	color: #fff !important; 
	font-weight: bold !important;
	font-family: fantasy;

}
.colores0{
	color:#000 !important;
	font-weight: bold !important;
	font-family: fantasy;
}
.fa-facebook-square {
    background: white;
    color: #3B5998;

}
.fa {
    padding: 0px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
}


.fa:hover {
    opacity: 0.8;


}

#face{
	font-size:50px;
	color:white;
	

}

#in{
	font-size: 50px;
	color: white;
}
#facee{
	font-size:40px;
	color:black;
	

}

#inn{
	font-size: 40px;
	color: black;
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 80px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background:none;
		padding: 10px 15px  ;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .fa-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	

	.social ul li a:hover {
		background: none; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}


	/* 
		Seccion de Parallax para imagenes 
	*/
	#imgPrincipal{
		background-image: url(../img/2.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}

	#seccion1{
		height: 100vh;
		width: 100%;
		background-image: url(../img/ARQ_Recursos/celeste109/vista-109.jpg);
		background-size: cover;
		display: table;
		background-attachment: fixed;
	}
	#seccion2{
		height: 100vh;
		width: 100%;
		background-image: url(../img/ARQ_Recursos/celeste104/3.jpg);
		background-size: cover;
		display: table;
		background-attachment: fixed;
	}
	#seccion3{
		height: 100vh;
		width: 100%;
		background-image: url(../img/ARQ_Recursos/casaP204/fachada-este-p204.jpg);
		background-size: cover;
		display: table;
		background-attachment: fixed;
	}
	#seccion4{
		height: 100vh;
		width: 100%;
		background-image: url(../img/ARQ_Recursos/lirios111/2.png);
		background-size: cover;
		display: table;
		background-attachment: fixed;
	}
	#seccion5{
		height: 100vh;
		width: 100%;
		background-image: url(../img/ARQ_Recursos/hostal/hostal.jpg);
		background-size: cover;
		display: table;
		background-attachment: fixed;
	}
	#seccion6{
		height: 100vh;
		width: 100%;
		background-image: url(../img/ARQ_Recursos/salonvelas/velas.jpg);
		background-size: cover;
		display: table;
		background-attachment: fixed;
	}
	.letraSeccion{
		font-family: Georgia;
		font-size: 50px;
		color: white;
		margin: 0px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}

	.hr-oscuro{
		border-top: 1px solid #000;
	}

	.letras{
		font-size: 20px !important;
		font-weight: bold;
	}
	.letrasc{
		color: #5C5C5C !important;
		font-size: 20px !important;
		font-weight: bold;
	}
	
	